<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactive Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chat.js" defer></script>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<h1>Chat Room</h1>
<div id="chat">
    <ul id="messages"></ul>
    <div id="typing-indicator"></div>
</div>
<div>
    <input type="text" id="message" placeholder="Type a message" oninput="typing()">
    <button onclick="sendMessage()">Send</button>
</div>
<button class="leave-button" onclick="leaveChat()">Leave Chat</button>

</body>
</html>